{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="background-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="model-form">
            <div class="custom-title">
              <h3>{% trans "Reset Your Password" %}</h3><br>
            </div>
            <div class="container-sm">
                <div class="alert">An email has been sent to reset your password.</div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
