{% extends "base_generic.html" %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="background-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="model-form">
            <div class="custom-title">
              <h3>{% trans "Password Reset" %}</h3><br>
            </div>
            {% if messages %}
            <div class="container-sm">
              {% for message in messages %}
                {% if message.tags == 'error' %}
                <div class="alert">*{{ message }}</div>
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="custom-title">
                <input class="btn btn-danger button-style" type="submit" value="Reset Password">
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
