<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <p>Hi {{ username }},</p>
    <p>Thank you for registering with us. Here is your OTP:</p>
    <h2>{{ otp }}</h2>
    <p>The OTP will expire in {{ otp_timeout }} minutes. Please verify your email address by clicking the link below:</p>
    <a href="{% url 'verify_email' email=email %}">Verify Email</a>
    <p>Thank you,</p>
    <p>CheapJet</p>
</body>
</html>
